{% extends "base.html" %}

{% block pagetitle %}
	index
{% endblock pagetitle %}

{% block pagebodyclass %}
	landing-page
{% endblock pagebodyclass %}

{% block page %}

	<!-- header -->
	{% include "inc/header.html" %}

	<!-- test elemnts -->
	<h1 class="temp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, qui.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, blanditiis, ratione, deserunt, laborum eveniet recusandae tempora obcaecati debitis rem doloremque optio amet dicta. Ducimus, nesciunt, accusamus, quae maxime error similique nisi iste temporibus quos maiores qui numquam reprehenderit harum voluptatum cupiditate id ad ipsa aperiam impedit natus ea iusto quibusdam.</p>
	<p>Placeat dolorem rerum alias? Iste, necessitatibus, exercitationem, est, error repudiandae dolore ut repellat eveniet sunt maxime laborum deleniti quo illo labore impedit a maiores dolorem dolorum magni voluptatem saepe in accusantium omnis libero praesentium placeat at earum doloribus ipsum cumque? Ipsa, nemo cum in maxime atque sapiente ipsam esse at!</p>
	<p>Corrupti, ullam, voluptatibus repellat illum nemo quos necessitatibus quidem placeat quasi neque eos quis illo sunt libero iusto modi optio veritatis dolorem eaque fugiat autem distinctio earum sequi nam inventore soluta commodi magnam ratione eveniet at voluptatem itaque error odit aliquam vero tempore dicta. Cum, optio rerum distinctio necessitatibus a.</p>

	<span class="icon icon--git"></span>

	<!-- test elemnts end -->

	<!-- footer -->
	{% include "inc/footer.html" %}

{% endblock page %}

{% block extrajs %}
{% endblock extrajs %}
