
*.pyc
*.py[co]
tmp
etc
bin
share
*.log
*.DS_Store

/project/pdesk.db
/project/local_settings.py

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo



