.next-promo-page {
	$el-hshift: - icon-sprite-width("arrow-next") / 2;
	$el-vshift: - icon-sprite-height("arrow-next") / 2;
	@include icon-sprite("arrow-next");
	@include hide-text-2;
	position: absolute;
	bottom: ($promo-page__container-bottom / 2);	
	left: 50%;
	margin: 0 0 $el-vshift $el-hshift;
	z-index: 20;

	&:hover {
		&:after {
			background-color: rgba(#fff, .03);
		}
	}

	// clicable area for better usability
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		height: $promo-page__container-bottom;
		width: 1920px;
		margin: (- $promo-page__container-bottom / 2) 0 0 -960px;
	}

	@media screen and ("max-width: 639px"),
				 screen and ("max-height: 599px") {
		bottom: ($promo-page__container-bottom--media639 / 2);	
		
		&:after {
			height: $promo-page__container-bottom--media639;
			margin: (- $promo-page__container-bottom--media639 / 2) 0 0 -960px;

		}
	}
}

.btn-more {
	@include inline-block(middle);
	color: inherit;
	text-transform: uppercase;
	font: $base-title-font;
	font-size: 12px;
	line-height: 12px;
	position: relative;
}

.button {
	@extend %button;
	@include transition($background-transition);
	overflow: hidden;
	padding: 0;
	height: 56px;
  font: $base-title-font;
	font-size: 12px;
	line-height: 36px;
	font-weight: 700;
  color: $base-color;
	text-transform: uppercase;
	max-width: 90%;
	background: $accent-color;
	margin: 0 10px 13px 0;
	outline: none;

	&:focus,
	&.hover,
	&:hover {
		background-color: rgba($accent-color, .79);
	}

	.article__footer & {
		margin-left: 5px;
		margin-right: 5px;
	}

	&.is-ok-status {
		@extend .button--type-2;
		cursor: default;

		.button__icon {
			background-color: $accent-color-2-alt;

			&:before {
				@include absolute-icon("ok-status");
			}
		}
	}

	.media-item__visual__panel & {
		margin-bottom: 0;
	}

	&.alignright {
		margin-right: 0;
		margin-left: 20px;
	}

	&.alignleft {
		margin-right: 20px;
		margin-left: 0;
	}

	.product-item & {
		margin-top: 16px;
		margin-bottom: 0;
	}
}

.button--type-2 {
	background-color: $accent-color-2;

	&:focus,
	&.hover,
	&:hover {
		background-color: rgba($accent-color-2, .79);
	}
}

.button__text {
	@include ellipsis;
  padding: 10px 23px 10px;
  display: block;

  .button--wconfirm.is-ok-status & {
  	display: none;
  }
}

.button__text--confirm-message {
	display: none;

  .button--wconfirm.is-ok-status & {
		display: block;
	}
}

.button__icon {
	@extend %pseudo-icon;
	@include transition($background-transition);
	float: left;
	width: $button-height;
	height: $button-height;
	position: relative;

	&:before {
		@include transition(opacity .3s ease);
		left: 50%;
		opacity: .8;
	}

	.button:focus &,
	.button.hover &,
	.button:hover & {
		&:before {
			opacity: 1;
		}
	}
}

.button__icon--cart {
	background-color: $accent-color-alt;

	&:before {
		@include absolute-icon("cart");
	}
}

.button__icon--clip {
	background: $accent-color-2-alt;

	&:before {
		@include absolute-icon("clip");
	}
}

.goto-facebook {
	@include inline-block(middle);
	@include hover-link;
	margin: 0 30px 0 0;
	position: relative;
	padding: 0 0 0 30px;
	color: $base-color;

	&:after {
		content: '';
		position: absolute;
		@include icon-sprite("fb-icon-2");
		left: 0;
		top: 50%;
		margin-top: -1px - (icon-sprite-height("fb-icon-2") / 2);
	}
}

.popup-button {
	@include inline-block(middle);
	@include hover-link;
	color: $accent-color;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
}

.popup-button--open {
	@include transition(background-color .3s ease, opacity .3s ease);
	@include box-sizing(border-box);
	
	opacity: 1;
	z-index: 50;
	position: absolute;
	right: 12%;
	top: 49px;
	padding: 18px 45px 18px 75px;
	height: 50px;

	background: $overlay-base-color;
	background: rgba($overlay-base-color, .8);

	&:hover {
		background: rgba($overlay-base-color, 1);
		text-decoration: none;
	}

	&:after {
		@include icon-sprite("ico-popup");
		content: '';
		position: absolute;
		left: 40px;
		top: 50%;
		margin-top: - (icon-sprite-height("ico-popup") / 2);
	}

	.press-feed__popup.is-active & {
		opacity: 0;
		right: -9998px;
	}
}

.mobile-menu-button {
	$btn-height: 24px;
	@extend %button;
	@extend %page-title;
	@include transition(opacity .3s ease);
	opacity: .6;
	position: absolute;
	right: 20px;
	top: 50%;
	font-size: 18px;
	line-height: 24px;
	height: $btn-height;
	margin-top: - $btn-height / 2;
	text-transform: uppercase;
	outline: none;
	display: none;

	> span {
		@include box-sizing(border-box);
		float: left;
		position: relative;
		height: 24px;
		padding: 0 10px 0 31px;

		&:after {
			@include icon-sprite("menu");
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -1px - (icon-sprite-height("menu") / 2);
		}
	}

	&:hover,
	&:focus {
		opacity: 1;
	}

	@media screen and ($nav-mobile-point) {
		display: block;
	}
}
