.header {
	@include box-sizing(border-box);
	background: $base-second-background;
	min-height: 50px;
	border: 1px solid lighten($base-second-background, 10%);
	border-width: 1px 0 0;
	color: $base-inverse-color;
}

.logo-shop {
	@extend %logo;
	@include icon-sprite("logo-shop");
	margin: 15px 86px 15px 0;
}

