.title-item {
	height: 545px;
	width: 100%;
	display: table;
	background: $title-item-bg-1;
	font: 18px/24px $base-title-font-family;
}

.title-item__container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 23px 116px 20px;

	p {
		margin: 30px 0 0;
	}
}

.title-item__title {
	@extend %page-title;
	margin: 0;
	padding: 0 0 29px;
	border-bottom: 1px solid $base-second-background;
}

.product-item {
	@include transition(box-shadow .2s ease);
	@include box-sizing(border-box);
	@include box-shadow(inset 0 0 0 0 $accent-color, 0 0 0 0 $base-color); // multiple: comma-delimited
	height: 545px;
	width: 100%;
	padding: 10px;
	position: relative;
	background: $base-background;

	// fix for mobile bg bleading
	// outline: 1px solid $base-background;


	&:hover {
		@include box-shadow(inset 0 0 0 3px $accent-color, 1px 1px 2px 0 rgba($base-color, .5)); // multiple: comma-delimited

		.no-boxshadow & {
			outline: 3px solid $accent-color;
		}
	}
}

.product-item__visual {
	display: table;
	width: 100%;

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 409px;
	}
}

.product-item__visual__holder {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 409px;
}

.product-item__controls {
	position: absolute;
	bottom: 27px;
	right: 0;
	left: 34px;
}

.product-item__info {
	overflow: hidden;
}

.product-item__title {
	font: 14px/18px $base-title-font-family;
	margin: 0 0 4px;
	letter-spacing: 1px;
}

.product-item__price {
	font: 700 24px/24px $base-title-font-family;
	margin: 0 0 -3px;
	display: block;
}

.product-item__more-details {
	@include hover-link;
	text-transform: uppercase;
	font: 14px/18px $base-title-font-family;
}
