.footer {
	@include box-sizing(border-box);
	position: absolute;
	bottom: 0;
	min-height: $shop-footer-height;
	left: 0;
	width: 100%;
}

.footer__copy {
	color: $base-secondary-color;
	text-align: center;
	font-size: 11px;
	line-height: 12px;
	padding: 37px 0 30px;

	p {
		margin: 0;
	}

	a {
		@include hover-link;
		color: inherit;
	}
}

.footer__panel {
	@include box-sizing(border-box);
	padding: 25px 0 20px;
	overflow: hidden;
	min-height: 63px;
	border-bottom: 1px solid $base-background;
	@include box-shadow(inset 0 -1px 0 0 rgba($base-second-background, .08));
}

.footer__nav {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
	line-height: 16px;
	text-transform: uppercase;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
		margin: 0 32px 0 0;
	}

	a {
		@include hover-link;
		color: $base-color;
	} 
}

.partners {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;

	li {
		@include inline-block(middle);
		margin: 0 0 0 7px;
	}

	a {
		@include hide-text;
		display: block;
	}

	img {
		display: block;
		max-width: 100%;
		max-height: 40px;
	}
}
