%flexible-content-container {
	max-width: 1088px;
	margin: 0 auto;
	padding: 0 8px;
}

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	@extend %footer-bg-pattern;
	background-color: #f9f9f9;
	background-position: 50% 50%;
	height: 100%;

	&.shop {
		min-width: 1098px;

	}
}

.wrapper {
	@include box-sizing(border-box);
	@extend %footer-bg-pattern;
	background-color: #f9f9f9;
	background-position: 50% 50%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	padding: 0 0 $shop-footer-height;
}

.landing-page {
	@media screen and ("max-width: 639px") {
		font-size: 14px;
		line-height: 1.2;
	}
}

.content-holder {
	@extend %clearfix;
	@extend %flexible-content-container;
	position: relative;

	.promo-page  & {
		z-index: 10;
	}
}

.shop-content-holder {
	@extend %clearfix;
	width: 1088px;
	margin: 0 auto;
}

.shop-main {
	padding: $shop-main-padding-top 0 $shop-main-padding-bottom;
}

.content {
	overflow: hidden;
}
