$media-box-vpaddings: 40px;
$media-box-hpaddings: 23px;
$media-box-vpaddings-mw639: 20px;
$media-box-hpaddings-mw639: 8px;

.media-box {
	@include inline-block(middle);
	@include box-sizing(border-box);
	background: $base-background;
	padding: $media-box-vpaddings $media-box-hpaddings;
	width: 100%;
	height: 545px;
	max-height: 100%;
	margin: 0 -5px 0 0;
	position: relative;

	@media screen and ($mobile-layout-width) {
		padding: $media-box-vpaddings-mw639 $media-box-hpaddings-mw639;
		height: auto;
		max-height: auto;
		display: block;
		margin: 0;
	}
}


.media-box__scrollable-area {
	// max-height: 100%;
	// height: 100%;
	overflow: auto;
	// position: relative;
	position: absolute;
	top: $media-box-vpaddings;
	bottom: $media-box-vpaddings;
	left: $media-box-hpaddings;
	right: $media-box-hpaddings;

	// background: #ccc;
	// overflow-x: hidden;
	// overflow-y: auto;
	// -webkit-overflow-scrolling: touch;

	p {
		margin: 0;
	}

	@media screen and ("max-width: 639px") {
		position: static;
		left: auto;
		right: auto;
		bottom: auto;
		top: auto;
		overflow: hidden;
	}
}

.media-box__scrollable-area__container {
	padding: 0 15px 0 15px;

	@media screen and ("max-width: 639px") {
		padding: 0 5px;
	}
}

