.press-feed {
	@extend %clearfix;
	position: relative;
}

.press-feed__list {
	@extend %clearfix;
	margin: 0;
	padding: 0 10px;
	list-style: none;

	.csscolumns & {
		@include column-count(3);
		@include column-gap(0);
		// -webkit-margin-bottom-collapse: separate;


		@media screen and ($promocolumns-tablet-point) {
			@include column-count(2);
		}

		@media screen and ($promocolumns-mobile-point) {
			@include column-count(1);
		}
	}


	&:hover {
		background: $overlay-base-color;
		background: rgba($overlay-base-color, .3);

		.press-feed__item__overlay {
			left: 0;
		}
	}

}

.press-feed__item {
	@include inline-block(top);
	width: 100%;
	position: relative;
	margin: 0 0 12px;

	.press-feed__item__overlay {
		
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: $overlay-base-color;
		opacity: 0.3;
		filter: alpha(opacity=30);
		z-index: 100;
		left: -9999px;
	}

	&:hover {
		.press-feed__item__overlay {
			left: -9999px;
		}
	}

	.no-csscolumns & {
		width: 33%;

		@media screen and ($promocolumns-tablet-point) {
			width: 50%;
			margin-right: -4px;
		}

		@media screen and ($promocolumns-mobile-point) {
			width: 100%;
		}
	}
}

.press-feed__item__content {
	position: relative;
	z-index: 20;
	display: block;
	text-decoration: none;
}

.press-feed__visual {
	display: block;
	position: relative;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.press-feed__visual__caption {
	@include transition(top .2s ease, background-color .4s ease);
	
	background: $overlay-base-color;
	background: rgba($overlay-base-color, 0);
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	padding: 15px 20px 20px;
	color: $base-inverse-color;

	> *:last-child {
		margin-bottom: 0;
	}

	.press-feed__item:hover & {
		top: 0;
		background: rgba($overlay-base-color, .95);
	}
}

.press-feed__visual__title {
	
	@extend %page-title;
	display: block;
	margin: 0 0 10px;

	@media screen and ($promocolumns-tablet-point) {
		font-size: 24px;
	}

	@media screen and ($promocolumns-mobile-point) {
		line-height: 18px;
	}
}

.press-feed__visual__reference {
	@extend %page-title;
	font-size: 14px;
	line-height: 1;
	display: block;
	margin: 0 0 10px;
}

.press-feed__popup {
	@include box-sizing(border-box);
	
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 30;
	color: $base-inverse-color;
	height: 0;
	padding: 0;
	margin: 0;

	background: rgba($overlay-base-color, .01);

	&.is-active {
		height: 100%;
		padding: 172px 0 0;
	}
}

.press-feed__popup__container {
	@include transition(opacity .3s ease);
	background: $base-second-background;
	background: rgba($base-second-background, .8);
	max-width: 660px;
	margin: 0 auto;
	padding: 40px 90px;
	font-size: 14px;
	line-height: 24px;

	position: absolute;
	top: -9999px;
	opacity: 0;

	p {
		margin: 0 0 20px;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	@media screen and ($promocolumns-tablet-point) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media screen and ($promocolumns-mobile-point) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.press-feed__popup.is-active & {
		position: static;
		top: 0;
		opacity: 1;
	}
}

.press-feed__popup__title {
	@extend %page-title;
	text-align: center;
	margin: 0 0 10px;
}
