.promo-nav {
	overflow: hidden;
	position: relative;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		width: 100%;
		background: $base-background;
	}

	li {
		display: table-cell;
	}

	a {
		font: $base-title-font;
		font-size: 14px;
		line-height: 14px;
		color: $base-color;
		text-transform: uppercase;
		display: table;
		height: $promo-nav-height;
		width: 100%;
		text-decoration: none;
		outline: none;
		-moz-user-select: none;

		span {
			@include transition(box-shadow .2s ease);
			@include box-sizing(border-box);
			box-shadow: inset 0 0 0 0 $accent-color;
			display: table-cell;
			height: 100%;
			vertical-align: middle;
			text-align: center;
			padding: 2px 15px 0;

			@media screen and ("max-width: 639px") {
				text-align: left;
			}
		}

		&:hover {
			text-decoration: underline;
		}

		.boxshadow & {
			&:focus,
			&.is-active,
			&:hover {
				text-decoration: none;

				span {
					box-shadow: inset 0 -5px 0 0 $accent-color;
				}
			}
		}
	}

	@media screen and ($nav-mobile-point) {
		overflow: visible;
		position: absolute;
		top: 100%;
		width: 100%;
		
		ul {
			@include transition(transform .6s ease-out);
			@include transform(translate(-150%, 0) translateZ(0));

			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;

			.no-csstransforms3d &,
			.no-csstransforms & {
				left: -150%;
			}

		}

		li {
			display: block;
			padding: 0 15%;
		}

		&.is-active ul {
			@include transform(translate(0, 0) translateZ(0));

			.no-csstransforms3d &,
			.no-csstransforms & {
				left: 0;
			}
		}

	}
}
