.promo-sub-nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		list-style: none;
		@include inline-block(top);
		margin: 0 0 0 28px;
	}

	a {
		@include hover-link;
		color: $base-color;
	}

	@media screen and ("max-width: 640px") {
		float: none;
		text-align: center;
		margin: 0 0 10px;

		li {
			margin: 0 15px;
		}
	}
}
